[defaults]
inventory      = inventory.yml
remote_user    = root
host_key_checking = False
roles_path     = roles
collections_path = collections
ansible_python_interpreter = /usr/bin/python3
ask_vault_pass = True